@keyframes show-toast-top-right {
    0% {top: -100%}
    20% {top: 20%}
    80% {top: 20%}
    100% {top: -100%}
}

.show-notification {
    position: fixed;
    top: 0;
    right: 0;
    animation-name: show-toast-top-right;
    animation-duration: 4s;
}
